@charset "utf-8";
/* CSS Document */

*{ margin:0;padding:0;font-family:"montserrat",sans-serif }

nav{background:#fff000;height: 80px;width:100%;}

header{background-image:url("Artboard 5.png");backgeound-size:cover;background-position: center;height:120vh;}

.profile0 img
{ top:10px;
position:absolute;
left:calc(50% - 60px);
border:10px solid#0000;}

.user0{width:80px;
height:80px;
border-radius: 10%;background:#fff000;}


label.logo{position: absolute; color:#000; font-size:35px;line-height: 80px;padding:0 25px; font-weight:bold;}

ul{float:right;
list-style-type:none;
margin-top: 25px }

ul li{display: inline-block;
margin-right:80px}

ul li a{text-decoration:none;
color:black;
padding:5px;
transition: 0.5s,ease;}

ul li a.home:hover{color:rgba(255,255,255,1.00);border:3px solid;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.locate:hover{color:rgba(255,255,255,1.00);border:3px solid;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.seat:hover{color:rgba(255,255,255,1.00);border:3px solid;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.dishes:hover{color:rgba(255,255,255,1.00);border:3px solid;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

.pic{background:none;background-position: center; width: 70px;
height:70px;
border-radius:10%;
position:absolute;
top:1%;
left:40%;
}
.newaccbox{
	width:400px;
	height:775px;
	background:#FFF000;
	top:60%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
box-sizing:border-box;
padding:90px 50px;}

.newaccbox p{margin:0;
padding:0;
font-weight:bold;
}

.newaccbox input{
margin-bottom:20px;
}

.newaccbox input [type="text"],input[type=Username]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}


.newaccbox input [type="text"],input[type=Password]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}

.newaccbox input [type="text"],input[type=Place]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}


.newaccbox input [type="text"],input[type=cityname]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}

.newaccbox input [type="text"],input[type=pin]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}


.newaccbox input [type="text"],input[type=mailid]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}

.newaccbox input [type="text"],input[type=state]
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}

.newaccbox option
{width: 80%;
border:1px solid#fff;
background:white;
outline:none;
height:30px;
color:#217429;
font-size:16px;}

.item select{border:1px solid#fff;
background:white;
line-height:1; 
padding:0;
outline:none;
width: 60%;
height:30px;
color:#217429;
top: 86%;
left:20%;
position:absolute;
font-size:16px;}

.btn{position:absolute;
display:inline-block;
top:91%;
left:50%;
transform:translate(-50%,-50%);
width:40%;
background:url("Artboard 5.1.png");
border: 0px;
border-radius:30px;
cursor:pointer; color: yellow;
padding:5px;
font-size:20px;
margin:20px 10px;}
