@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;font-family:"montserrat",sans-serif }

nav{background:#fff000;background-position: top;height:80px; width:100%;}

body{background-image: url("Artboard 5.1.png");background-size:cover; background-position: center;height:200vh;}


.profile0 img
{ top:10px;
position:absolute;
left:calc(50% - 60px);
border:10px solid#0000;}

.user0{width:80px;
height:80px;
border-radius: 10%;
background:#FFF000;}

label.logo{position: absolute; color:#000;font-size:35px;line-height: 80px;padding:0 25px; font-weight:bold;}

ul{float:right;
list-style-type:none;
margin-top: 30px }

ul li{display: inline-block;
margin-right:70px}

ul li a{text-decoration:none;
color:rgba(0,0,0,1.00);
padding:5px;
transition: 0.5s,ease;}

ul li a.home:hover{color:rgba(255,255,255,1.00);border:1px solid#AE915E;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.locate:hover{color:rgba(255,255,255,1.00);border:1px solid#AE915E;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.seat{color:rgba(255,255,255,1.00);border:0px solid#AE915E;padding: 2px 20px;border-radius:12px;background-color:#7EC51B;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}

ul li a.dishes:hover{color:rgba(255,255,255,1.00);border:0px;padding: 2px 20px;border-radius:12px;background-color:#AE915E;box-shadow:0px 0px 5px 3px;
cursor:pointer;transition:0.5s;}


.stpic{ width: 80%; color:yellow;border-radius:10px;box-shadow:0px 0px 8px 5px;
cursor:pointer; 
transition:.5s;}

.btn{position:absolute;
display:inline-block;
top:61%;
left:77%;
transform:translate(-50%,-50%);
width:18%;height:5.0%;
background:#FFF000;border:0px; border-radius:30px;
padding:5px;
font-size:20px;
margin:20px 10px;}

.btn:hover{background:url( "Artboard 5.1.png");border-radius:30px;
color: #fff000;
box-shadow:0px 0px 5px 5px;
cursor:pointer; 
transition:.5s;}


.fdatpic{ width: 80%; color:yellow;border-radius:10px;box-shadow:0px 0px 8px 5px;
cursor:pointer; 
transition:.5s;}

.btn1{position:absolute;
display:inline-block;
top:135%;
left:77%;
transform:translate(-50%,-50%);
width:18%;height:5.0%;
background:#FFF000;border:0px; border-radius:30px;
padding:5px;
font-size:20px;
margin:20px 10px;}

.btn1:hover{background:url( "Artboard 5.1.png");border-radius:30px;
color: #fff000;
box-shadow:0px 0px 5px 5px;
cursor:pointer; 
transition:.5s;}

